@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Secular+One&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --tersier-color: #5498fe;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif;
}

/* Navbar Styling */

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Secular One", sans-serif;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo-image {
  width: 80px;
  height: 80px;
}

.logo-text {
  font-size: 1.5rem;
}

.nav-content {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-content .nav-item .nav-link {
  color: var(--secondary-color);
}

.dropdown {
  display: none;
}

@media only screen and (max-width: 768px) {
  .dropdown {
    display: flex;
  }

  .nav-list {
    display: none;
  }
}

/* Hero Section Styling */
.btn-cta {
  background: var(--tersier-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#hero-section {
  background: url("./assets/background-hero.png"), linear-gradient(90deg, #000000a1, #00000000);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  color: var(--secondary-color);
}

.hero-content {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
