@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Secular+One&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --tersier-color: #5498fe;
}

.read-link,
.read-link:hover,
.read-link:active {
  text-decoration: none;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif;
}

.line-divider {
  background-color: #eeeeee;
  width: 100%;
  height: 10px;
}

.paragraph-content {
  color: var(--secondary-color);
}

/* Navbar Styling */

nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Secular One", sans-serif;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo-image {
  width: 80px;
  height: 80px;
}

.logo-text {
  font-size: 1.5rem;
}

.nav-content {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .nav-content .nav-item .nav-link {
  color: var(--secondary-color);
}

.dropdown {
  display: none;
}

@media only screen and (max-width: 768px) {
  .dropdown {
    display: flex;
  }

  .nav-list {
    display: none;
  }
}

/* Hero Section Styling */
.btn-cta {
  background: var(--tersier-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#hero-section {
  background: url("./assets/background-hero.png"), linear-gradient(90deg, #000000a1, #00000000);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  color: var(--secondary-color);
}

.hero-content {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* About section styling */
#about,
#why-us,
#news {
  padding: 10vh 0 5vh;
  height: fit-content;
}

h2.title-content,
h3.title-content {
  color: var(--tersier-color);
}

.info-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.info-list-item p {
  font-weight: 700;
}

i.bi {
  width: 24px;
  aspect-ratio: 1/1;
}

.profile {
  width: 100%;
  height: auto;
}

/* Why Us Section Styling */
.image-box {
  width: 100%;
  height: auto;
}

.image-box img {
  display: block;
  width: 100%;
  height: auto;
}

/* News Section Styling */
#news {
  background-color: var(--primary-color);
  margin-bottom: 20px;
}

#news h2 {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 20px;
}

#news h3 {
  color: var(--secondary-color);
}

.thumbnail-news.trending {
  margin-bottom: 10px;
}

.thumbnail-img {
  width: 100%;
  aspect-ratio: 1/1;
}

.thumbnail-img img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.mini-news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* footer */
footer {
  padding: 5vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .col-md-6 {
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
}

.footer-item,
.footer-item:hover,
.footer-item:active {
  color: var(--secondary-color);
  text-decoration: none;
}

.social-media-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
}

.social-media-list .bi {
  color: var(--tersier-color);
  margin-right: 40px;
}
